<h1>Questions</h1>
<%= link_to "Ask a question!", new_question_path %>
<% @questions.each do |question| %>
  <section>
    <h3>
      <%= link_to question.header, question %>
    </h3>
    <p><%= question.body %></p>
  </section>
<% end %>
